[submodule "Assets/Tasks"]
	path = Assets/Tasks
	url = https://github.com/JMTNeuroLab/MTLab_UnityExampleTask.git
[submodule "Assets/liblsl-Csharp"]
	path = Assets/liblsl-Csharp
	url = https://github.com/labstreaminglayer/liblsl-Csharp.git
