[submodule "Assets/Tasks"]
	path = Assets/Tasks
	url = https://github.com/JMTNeuroLab/MTLab_UnityExampleTask.git
[submodule "Wiki"]
	path = Wiki
	url = https://github.com/JMTNeuroLab/MTLab_UnitySource.wiki.git
[submodule "Assets/liblsl-Csharp"]
	path = Assets/liblsl-Csharp
	url = https://github.com/labstreaminglayer/liblsl-Csharp.git
